.page-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0;
}

.page-header h1 {
	display: inline-block;
	color: #cc0000;
	font-family: 'Lobster', cursive;
}

.page-header p {
	margin-top: 45px;
	margin-right: 30px;
	font-family: 'Courgette', cursive;
	color: #555;
}

.left-nav {
	padding-right: 60px;
}

.folders {
	padding-right: 40px;
	font-family: 'Rubik', sans-serif;
}

.msg {
	border-bottom: 1px solid #ddd;
}

.content {
	display: none;
}
